@model List<ProyectoPrograAvanzada1.Entities.Categoria>
@{
    ViewData["Title"] = "ConsultarCategoria";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid content-header">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br />
            <div class="card">
                <div class="card-header" style="background-color: #AB5A00">
                    <br />
                    <br />
                    <br />
                    <h3 class="card-title" style="color:#670803; font-weight: bold">Mantenimiento de Categorias</h3>

                    <div style="text-align:right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalcategoria">
                            + Crear Categoria
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    <table id="tablacategorias" class="table">
                        <thead>
                            <tr>
                                <th>IDCategoria</th>
                                <th>Nombre</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.IdCategoria</td>
                                    <td>@item.Nombre</td>

                                    <td>
                                        <a type="submit" class="btn-actualizar" data-idrolcategoria="@item.IdCategoria" data-toggle="modal" data-target="#actualizamodalcategoria" onclick="consultarCategoria(this)">
                                            <i class="fa-solid fa-pen-to-square" style="color:yellowgreen; font-size: 30px"></i>
                                        </a>
                                        <a type="submit" onclick="eliminacategoria(this)" class="eliminar-categoria" data-idcategoria="@item.IdCategoria">
                                            <i class="fa-solid fa-trash-can  ml-3" style="color:darkred; font-size: 30px"></i>
                                        </a>
                                    </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
@* Modal para Crear las Categorias *@
<div class="modal fade" id="modalcategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Nueva Categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="crearCategoriaForm">
                    <div class="form-group">
                        <label for="Nombre">Nombre de Categoria:</label>
                        <input type="text" class="form-control" id="Nombre" name="Nombre">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="crearNuevaCategoria()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@* Modal para Actualizar las Categorias *@


<div class="modal fade" id="actualizamodalcategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="actualizarCategoriaForm">
                    <div class="form-group">
                        <label for="NombreRol">Nombre de Categoria:</label>

                        <input type="hidden" id="IdCategoria" name="IdCategoria" style="display: none;">

                        <input type="text" class="form-control" id="NombreCategoria" name="NombreCategoria">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="guardarCambiosCategoria()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
