@model ProyectoPrograAvanzada1.Entities.Usuario

@{
	ViewData["Title"] = "RegistrarUsuario";
	Layout = "~/Views/Shared/_Layout - Externo.cshtml";
}

<head>
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
	<link href="https://fonts.gstatic.com" rel="preconnect" />
	<link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap" rel="stylesheet" />
	<link href="~/css/EstilosInicioSesion.css" rel="stylesheet" />
</head>


@*1*@
<div>

	@*2*@
	<div class="masthead">

		@*3*@
		<div class="masthead-content text-white">

			@*4*@
			<div class="container-fluid px-5 px-lg-2">
				<br />
				@*5*@
				<div>

					@*6*@
					<div class="container">

						@*7*@
						<div class="row d-flex justify-content-center align-items-center">

							@*8*@
							<div>

								@*9*@
								<div class="card text-black" style="border-radius: 25px;">

									@*10*@
									<div class="card-body p-md-6">

										@*11*@
										<div class="row justify-content-center">

											@*12*@
											<div class="col-md-10">
												<p class="text-center h1 fw-bold">Registrarse</p>
												<br />
												@using (Html.BeginForm("RegistrarUsuario", "Home", FormMethod.Post))
												{
													<div class="d-flex flex-row align-items-center mb-4">
														<i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
														<div class="form-outline flex-fill mb-0">
															@Html.TextBoxFor(m => m.Correo, new { @class = "form-control", @placeholder = "Correo Electrónico", @type = "Email", @required = "true" })
														</div>
													</div>

													<div class="d-flex flex-row align-items-center mb-4">
														<i class="fas fa-user fa-lg me-3 fa-fw"></i>
														<div class="form-outline flex-fill mb-0">
															@Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-control", @placeholder = "Nombre", @required = "true" })
														</div>
													</div>

													<div class="d-flex flex-row align-items-center mb-4">
														<i class="fas fa-lock fa-lg me-3 fa-fw"></i>
														<div class="form-outline flex-fill mb-0">
															@Html.TextBoxFor(m => m.Contrasenna, new { @class = "form-control", @placeholder = "Contraseña", @type = "Password", @required = "true" })
														</div>
													</div>

													<div class="form-check d-flex justify-content-center mb-5">
														<input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
														<label class="form-check-label" for="form2Example3">
															Acepto todas las declaraciones en los Términos de servicio <a href="#!">Terminos de Servicio </a>
														</label>
													</div>

													<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
														<button type="submit" class="btn btn-primary btn-lg">Registrar</button>
													</div>



												}
												<div style="text-align:center; margin-top:2%">
													<a href="@Url.Action("IniciarSesion","Home")" class="text-center">¿Ya tienes una cuenta?</a>
												</div>
												<br />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br />
				<br />
			</div>
		</div>
		<br />
		<br />
	</div>
</div>